table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding-left: 4px;
  padding-right: 8px;
  text-align: left;
  font-size: 9px;
}

th {
  font-weight: normal !important;
  font-size: 10.5px;
  border-radius: 5px;
}

/* thead:first-child {
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px;
} */

.barra-verificacion {
  border-radius: 9999px; /* Agrega bordes redondeados a toda la barra de verificación */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}

/* Definición de colores barra de progrero */
.max.progress {
  background-color: #5cdb48;
}

.medium.progress {
  background-color: #c6db48;
}

.min.progress {
  background-color: #dbb248;
}

.conexion.antigua {
  background-color: #9747ff;
}

.estado-conexion {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  left: -15px; /* Ajusta la posición del círculo */
  margin-right: 6px; /* Ajusta el espacio entre el círculo y el texto */
  vertical-align: middle;
}

.checkbox input[type='checkbox']:checked {
  background-color: #3f3; /* Cambia el color de fondo cuando se selecciona */
}

.text-shadow {
  text-shadow: slategray;
}
